.sidebar {
  position: fixed;
  top: 60px; /* Debajo de la Topbar */
  left: 0;
  width: 240px;
  height: calc(100vh - 60px);
  background-color: #111;
  color: var(--color-text);
  padding: 1rem;
  transform: translateX(-100%); /* Oculto por defecto */
  transition: transform 0.3s ease;
  z-index: 100;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin: 1rem 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 1.1rem;
  transition: color 0.3s;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar ul li a:hover {
  color: var(--color-yellow);
}

